*{
    padding: 0;
    margin: 0;    
    box-sizing: content-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background:linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1));
    opacity: 0.9;
    background-image: url(https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;
}



.clock_container {
    font-size: 5em;
    text-align: right;
}

.digit {
    float: left;
}

.digit_seconds {
    float: left;
}
.clock_seconds {
    float: left;
    font-size: 20px;
    margin-left: -42px;
    margin-top: 21px;
}

.clock_type {
    float: left;
    font-size: 30px;
    margin-top: 50px;
}


tr {
    color:white;
    text-align: left;
    font-size: 1em;
}

table {
    width:100%;
    text-align: center;
    margin-top: 18em;
}
i{
    color:#009fe3;
}

h1{
    color:#f2f6fa;
    text-align: center;
    margin-top: 100px;
    font-size: 3em;
}